[Unit]
Description=RETRADIO

[Service]
Environment="DEBUG=*"
WorkingDirectory=/opt/retradio/app
ExecStart=/usr/local/bin/node src/retradio.js
Restart=always

[Install]
WantedBy=multi-user.target