body {
    background-color: #f8f8f8;
    color: #011;
    font-family: sans-serif;    
    margin: 0;
}

body, input, td, button {
    font-size: 12pt;
}

div, span {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: unset !important;
}

input {
    background: unset;
    border: 1px solid #BBB;
    padding: 0.4em;
    border-radius: 0.2em;
}

button {
    padding: 0.2em 1em;
    border: 1px solid #BBB;
    border-radius: 5px;
    color: #EEE;
    background-color: #545454;
    cursor: pointer;
}

button.confirm {
    background-color: #3a9b6b;
}

.navigation {
    padding: 1em 2em;
    flex-direction: row;    
    align-items: flex-end;
    background-color: #870f2f;
    color: #e3e3e3;
}

.navigation>.title {
    flex-grow: 1;
    color: #f0f0f0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8em;   
    text-shadow: 0 0 1em #ffffff;
}

.navigation>a {
    margin-left: 1em;
}

.navigation>a.active {
    border-bottom: 1px solid #fff;
}

.content {
    margin: 2em;
}

.bands .switch {
    flex-direction: row;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #BBB;
}

.bands .switch .band {
    width: 4em;
    height: 2em;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 7px;    
    cursor: pointer;
}

.bands .switch .band.active {
    color: #e3e3e3;
    background-color: #237a90;    
}

.bands .list .band {
    display: none;
}

.bands .list .band.active {
    display: unset;
}

.bands .list .band .station {
    margin-bottom: 1em;
    flex-direction: row;
    align-items: center;
}

.bands .list .band .station .button {
    width: 1.6em;
    height: 1.6em;    
    margin: 0.3em 0.8em 0.3em 0;
    background-image: url('play.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.bands .list .band .station div.name {
    cursor: pointer;
    flex-grow: 1;   
}

.bands .list .band .station .editor {
    flex-grow: 1;   
    border-radius: 0.5em;
    padding: 1em;
    border: 1px solid #BBB;
}

.bands .list .band .station .editor>*:not(:last-child) {
    margin-bottom: 0.5em;
}

.bands .list .band .station .editor input.url {
    font-size: smaller;
}

.bands .list .band .station .editor .buttons {
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5em;
}

.bands .list .band .station .editor .buttons>*:not(:last-child) {
    margin-right: 0.5em;
}

.settings .section .caption {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.settings .section .working {
    color: #5e5e5e;
}

.settings .section .updates .log .line {
    flex-direction: row;
}

.settings .section .updates .log .line>* {
    margin-right: 1em;
}

.settings .section .updates .log .line .date {
    color: #5e5e5e;
    font-size: smaller;    
}

.settings .section .updates .log {
    margin-bottom: 0.5em;
}

.settings .section .error {
    color: #d62242;
}